<style type="text/css">
	article.feature.left, article.feature.right{
		background-color: white;
		text-align: justify;
	}
	body{
		background: url(http://funkyimg.com/i/2QVDF.jpeg);
		background-size: cover;
		background-attachment: fixed;
	}
</style>

<div class="inner">
					<article class="feature left">
						<span class="image"><%= image_tag( "w3schools.png", :alt => "" )%></span>
						<div class="content">
							<h2>W3Schools</h2>
							<p>W3Schools jest strona internetową skierowaną do programistów. Zawiera ona samouczki i odniesienia do języków programowania i kodowania oraz frameworków, takich jak: HTML, CSS, JavaScript, PHP, SQL, Python, jQuery, W3.CSS, Bootstrap. Strona ta porusza większość elementów programowania internetowego.</p>
							<ul class="actions">
								<li>
									<a href="https://www.w3.org/" class="button alt">Przejdź do tutorialu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><%= image_tag( "jq.png", :alt => "" )%></span>
						<div class="content">
							<h2>jQuery</h2>
							<p>jQuery jest to biblioteka programistyczna przeznaczona dla języka JavaScript. Dzięki swojej lekkości powoduje mniejszy spadek wydajności niż w przypadku prohgramu napisanego w sposób stamdardowy przy pomocy JavaScript. Umożliwia ona kodowanie ciekawych i dynamicznych elementów stron i aplikacji. </p>
							<ul class="actions">
								<li>
									<a href="http://learn.jquery.com/" class="button alt">Przejdź do tutorialu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><%= image_tag( "php1.png", :alt => "" )%></span>
						<div class="content">
							<h2>PHP</h2>
							<p>PHP jest skryptowym językiem programowania, który został zaprojektowany w celu budowy stron internetowych oraz aplikacji webowych. Język ten najczęściej stosowany jest przy tworzeniu skryptów po stronie serwera. Używany może być również do przetwarzania danych oraz, przy pomocy odpowiednich bibliotek, do kodowania proogramów działających w trybie graficznym.</p>
							<ul class="actions">
								<li>
									<a href="http://php.net/manual/en/tutorial.php" class="button alt">Przejdź do tutorialu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><%= image_tag( "java1.png", :alt => "" )%></span>
						<div class="content">
							<h2>JAVA</h2>
							<p>Java jest jednym z najbardziej znanych obiektowych języków programowania. Jest on oparty na klasach. Java została stworzona jako język tworzenia programów źródłowych, które kompilowane sa do kodu bajtowego. </p>
							<ul class="actions">
								<li>
									<a href="https://docs.oracle.com/javase/tutorial/" class="button alt">Przejdź do tutorialu</a>
								</li>
							</ul>
						</div>
					</article>
				</div>