<style type="text/css">
	p{
		margin: 0;
		font-size: 1.25em;
	}
	h1{
		text-align: center;
	}
	h2{
		font-size: 2.25em;
	}
	body{
		background-color: #EEE;
	}
	article.feature.right{
		background-color: white;
	}
</style>

<h1>Kontakt</h1>
<article class="feature right">
	<span class="image"><%= image_tag( "kontakt1.jpeg", :alt => "" )%></span>
	<div class="content">
		<h2>Dr inż. Adam Macewicz</h2>
		<p>Politechnika Rzeszowska</p>
		<p>Wysział Elektrotechniki i Informatyki</p>
		<p>ul. Wincentego Pola 2 (bud. B, pok 222)</p>
		<p>35-959 Rzeszów</p>
		<p>Email: <b>adam-macewicz@prz.edu.pl</b></p>
		<p>Telefon: <b>17-565-88-95</b></p>
		<p>Strona domowa: <b>a-macewicz.prz.edu.pl</b></p>
	</div>
</article>

